.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}

.hero__photo {
  position: absolute;
  left: -30%;
  height: 100%;
  z-index: -1;
}

.hero__content {
  // width: 50%;
  margin: 0 50px;
  padding: 10px;
}

.hero__box {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  height: 70%;
  gap: 20px;
}

.hero__buttons {
  display: flex;
  padding: 0;
  gap: 20px;
}

.hero__button {
  font-weight: 300;
  width: 200px;
  font-size: 1.75rem;
}

.toTop {
  position: fixed;
  right: 50px;
  bottom: 50px;
}