@import "../settings/_colors";

.user__nav {
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.userNavButton {
    color: $color-text;
    padding: 5px 20px;
    border: 1px solid transparent;


}
.userNavButton:hover {
    border: 1px solid $color-accent;

}