@import "../settings/_colors";

.who {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.who__title {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.who__options {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.who__button {
    width: 100px;
    padding: 10px 20px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-text;
}

.who__button:hover {
    border: 1px solid $color-text;
}

.who__description {
    width: 500px;
    text-align: center;
}

.who__item__text {
    display: flex;
    flex-direction: column;
}

.who__item {
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.who__item__title {
    font-size: 1.2rem;
    font-weight: 300;

}

.who__item__subtitle {
    font-size: 0.9rem;
}

.who__item__description {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}